<section id="banner">
  <%= render 'shared/banner' %>
</section>
<section id="portfolio">
  <%= render 'shared/portfolio' %>
</section>
<section id="team">
 <%= render 'shared/team' %>
</section>
<section id="icons">
  <%= render 'shared/icons' %>
</section>
<section id="carousel">
  <%= render 'shared/carousel' %>
</section>

<section id="social">
  <%= render 'shared/social'%>
</section>
